<!--
    Express PortFolio Assignment 1
    Author: Mark Deriel P. Bernardino
    Student ID: 301271907
    Date: October 5, 2023
-->
<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;2023 All rights reserved</h6>
    </div>
    </nav>
  </footer>
